* {
  margin: 0;
}

img {
  width: 100%;
}

html, body {
  margin-top: -10px;
  padding: 0;
}

h1, h2, h3, h4, p, a, li {
  font-family: 'Rubik', sans-serif;
}

a {
  text-decoration: none;
  color: #19B5FE;
}

a:hover {
  color: #DC3023;
}

/* HEADER */

header {
  background-color: #333;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

header h2 {
  float:left;
  padding-top: 25px;
}

header h2 a {
  font-size: 2em;
  color: #EEEEEE;
}

header h2 a:visited {
  color: #EEEEEE;
}

header ul {
  padding: 50px;
  top: 0;
  right: 0;
  float: right;
}

header li {
  color: blue;
  display: inline-block;
  margin-left: 25px;
  margin-right: 25px;
}
/* HEADER */

/* HERO */

#hero_title {
  font-size: 8em;
  color: #fff;
  padding: 25%;
  text-align: center;
  position: relative;
}

.hero {
  background-image: url("../assets/hero.jpg");
  height: 100%;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* HERO */

/* POSTS */
main {
  background-color: #6C7A89;
}

#pop_posts {
  font-size: 4em;
  text-align: center;
  margin: 50px 50px;
  color: #ECF0F1;
}

.posts article {
  border: solid black 2px;
  border-radius: 5%;
  display: inline-block;
  width: 30%;
  height: 300px;
  vertical-align: top;
  margin: 10px;
  background-color: #fff;
}

.posts {
  margin: 20px 15% 20px 20%;
}

.posts article h3 {
  color: #DC3023;
  border-bottom: solid black 2px;
  padding: 15px 10px 15px 10px;
  margin-top: 10px;
  text-align: center;
  height: 15%;
}

.posts a {
  border: solid black 2px;
  border-radius: 15px;
  width: 800px;
  height: 50px;
  padding: 5px 15px 5px 15px;
  text-transform: uppercase;
  margin-left: 15%;
  margin-right: 15%;
}

.posts p {
  height: 45%;
  padding: 10px;
}

/* JOIN THE CLUB */
#club {
  height: 400px;
  clear: both;
  background-color: #DC3023;
}

#club h2 {
  font-size: 3em;
  margin-left: 10%;
  color: #fff;
}

#club p {
  float: left;
  clear: left;
  margin-left: 10%;
  text-align: justify;
  margin-top: 5%;
  color: #fff;
}

#club img {
  width: 400px;
  float: right;
  clear: right;
}

.half-width {
  position: relative;
  width: 45vw;
  display: inline-block;
  vertical-align: middle;
  margin-top: 5%;
}

/* JOIN THE CLUB */

/* EVERYBODY WANTS TO BE A CAT*/
.cat {
  background-image: url("../assets/everybody.jpg");
  height: 500px;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cat h2 {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3em;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

footer {
  background-color: #333;
  height: 200px;
}


footer h4, footer p {
  width: 40%;
  float: left;
  clear: left;
  margin: 20px 0 0 50px;
  color: #eeeeee;
}

footer nav {
  float: right;
  clear: right;
  width: 40%;
}

footer nav ul {
  position: relative;
  transform: translateY(15%);
  height: 100px;
  font-size: 1.5em;
}
