* {
  margin: 0;
}

/* HEADER */

header {
  background-color: #6C7A89;
  height: 100px;
  border: solid blue 3px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

header h2 {
  float:left;
  padding-top: 25px;
}

/*Dan's example*/
/*header h2 {
  /*display: inline-block;*/
  /*float: right;
  margin-right: 15px;
}*/

header h2 a {
  font-size: 2em;
  color: #EEEEEE;
  text-decoration: none;
}

header h2 a:visited {
  color: #EEEEEE;
  text-decoration: none;
}

header a {
  text-decoration: none;
  color: #19B5FE;
}

header ul {
  border: solid red 3px;
  padding: 50px;
  top: 0;
  right: 0;
  float: right;
}

header li {
  color: blue;
  text-decoration: none;
  display: inline-block;
  margin-left: 25px;
  margin-right: 25px;
}
/* HEADER */

/* HERO */

#hero {
  width: 100%;

}

#hero_title {
  font-size: 8em;
  color: #fff;
  padding: 25%;
  text-align: center;
  position: relative;
}

.hero {
  background-image: url("../assets/hero.jpg");
  border: solid yellow 3px;
  background-size: cover;
  height: 100%;
  position: relative;
}

/* HERO */

/* POSTS */

#pop_posts {
  font-size: 3em;
  text-align: center;
}

.posts article {
  border: solid black 2px;
  border-radius: 5%;
  display: inline-block;
  width: 25%;
  height: 350px;
  vertical-align: top;
  margin: 20px;
}

.posts {
  margin: 20px 15% 20px 20%;
}

.posts article h3 {
  border-bottom: solid black 2px;
  padding: 15px 10px 15px 10px;
  margin-top: 10px;
  text-align: center;
  height: 15%;
}

.posts a {
  border: solid black 2px;
  border-radius: 15%;
  width: 800px;
  height: 50px;
  padding: 5px 15px 5px 15px;
  /*padding: 10px;*/
  /*text-align: center;*/
  text-transform: uppercase;
  /*display: block;*/
  /*margin: auto;*/
  /*margin-top: 25px;*/

  margin-left: 15%;
  margin-right: 15%;
  /*margin-top: 100px;*/
  box-sizing: border-box;

}

.posts p {
  /*margin-bottom: 50px;*/
  height: 55%;
  padding: 10px;
}

/* JOIN THE CLUB */
#club {
  border: solid black 2px;
  height: 400px;
  clear: both;
}

#club h2 {
  font-size: 3em;
  margin-left: 10%;
  /*margin-top: 10px;
  margin-bottom: 10px;*/
  /*width: 25%;*/
}

#club p {
  float: left;
  clear: left;
  /*width: 25%;*/
  margin-left: 10%;
  text-align: justify;
  margin-top: 5%;
}

#club img {
  width: 400px;
  float: right;
  clear: right;
  /*margin-right: 10%;*/
  border: solid red 2px;
  /*clear: left;*/
  /*clear: both;*/
}

.half-width {
  position: relative;
  width: 45vw;
  display: inline-block;
  vertical-align: middle;
  margin-top: 5%;
}

/* JOIN THE CLUB */




img {
  width: 100%;
}

html, body {
  margin-top: -10px;
  padding: 0;
}
